# Setup Guide
# ===========
# 1. Duplicate this file and remove .example from filename
#
# 2. Replace all instances of WPENGINE_SITENAME in this file with relevant WPEngine site names
#    eg. if the CMS is hosted at togethercms.wpengine.com, the WPENGINE_SITENAME would be "togethercms"
#        and if the staging CMS is hosted at togethercmsstage.wpengine.com,
#        the WPENGINE_SITENAME for the staging branch would be "togethercmsstage"
#
# 3. If no staging/development CMS instances setup, remove these lines from the "branches" config line
#    and from the "Set the WPEngine User Environment Variable" steps
#
# 4. Go to https://github.com/organizations/Made-Together/settings/secrets/actions/WPENGINESSH
#    and click the toggle icon, then select the name of the repo and click "Update Selection"
#
# 5. Commit file and push to repo.

---
name: "Deploy WPEngine CMS"

on:
  push:
    paths: ["backend/theme/**"]
    branches: ["master", "staging", "develop"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      WPE_USER: "" # default to dev site
    steps:
      - name: Cloning repo
        uses: actions/checkout@v2

      - name: Set the WPEngine User Environment Variable
        run: |
          declare -A SITEMAP=(
            [refs/heads/master]=WPENGINE_SITENAME
            [refs/heads/staging]=WPENGINE_SITENAME
            [refs/heads/develop]=WPENGINE_SITENAME
          )
          echo "WPE_USER=${SITEMAP[${{github.ref}}]}" >> $GITHUB_ENV

      - name: "Deploy to ${{ env.WPE_USER }}.wpengine.com"
        uses: burnett01/rsync-deployments@5.1
        if: ${{ contains(env.WPE_USER, 'WPENGINE_SITENAME') }}
        with:
          switches: -razvh --update
          path: backend/theme/
          remote_path: "/home/wpe-user/sites/${{ env.WPE_USER }}/wp-content/themes/theme/"
          remote_host: ${{ env.WPE_USER }}.ssh.wpengine.net
          remote_user: ${{ env.WPE_USER }}
          remote_key: ${{ secrets.WPENGINESSH }}

      - name: Clear WPEngine Cache
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.WPE_USER }}.ssh.wpengine.net
          username: ${{ env.WPE_USER }}
          key: ${{ secrets.WPENGINESSH }}
          script: wp cache flush
